@using Microsoft.AspNetCore.Identity
@model TraineeshipForum.Models.Entities.Profile

@inject UserManager<TraineeshipForum.Models.Entities.ApplicationUser> UserManager

    <div class="container body-content pt-3">
        @if (Context.User.Identity.IsAuthenticated)
        {
            <div class="row userProfile">
                <div class="col-md-4">
                    <div id="userProfileImage" style="background-image: url(@Model.ProfileImageUrl); background-size:100%;"></div>
                </div>
                <div class="col-md-8 userDetails">
                    <span id="userName">@Model.Username</span>
                    <span id="userCreatedLabel">Member Since: @Model.DateJoined</span>
                </div>
            </div>
        }
    </div>